.container
{
    
    position:relative;
}

.box{
    margin-left: 180px;
    margin-right: 180px;
    width:70%;
    margin-top: 25px;
}

.header
{
   display:flex;
   justify-content: space-between;
}

.box1
{
    display:flex;
    justify-content: space-between;
    margin-top: 40px;
}

.info
{
    width:300px;
    margin-top: 50px;
}

.box2
{
    margin-left: 180px;
    margin-right: 180px;
    width:70%;
    margin-top: 25px;
    position: relative;
    
}

.header1
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.para
{
    width:80%;
    align-content: center;
    line-height: 25px;
}

.content1
{
    display:flex;
    justify-content: space-around;
    margin-top:40px;

}
.b1
{
  
    border-radius: 20px;
    width:30%;
    height:300px;
    margin-bottom: 10px;
    background:#FFFFFF
    100%;
    box-shadow: 10px 40px 50px 0px #E5E9F666;
}

.c1
{
   
   
    width:83%;
    margin-left: 22px;
    margin-top: 40px;
}

.content
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box3
{
    
    margin-left: 180px;
    margin-right: 180px;
    width:70%;
   
    display:flex;
    justify-content: space-between;
    margin-top: 10%;
}

.para1{
    width:125%;
    
    margin-left: 30%;
    margin-top: -4%;
}
.heading{
    width:100%;
    margin-left: 30%;

}

.content2
{
    margin-top:5%;
    margin-right:20%;
}

.box4
{
    margin-left: 180px;
    margin-right: 180px;
    width:70%;
    margin-top: 10%;
    display:flex;
}

.heading1{
   
    width: 75%;
    

}

.para2{
    width:69%;
    margin-top: -5%;
  
}

.box5
{
   
    margin-left: 180px;
    margin-right: 180px;
    width:70%;
    margin-top: 10%;
    border-radius: 24px;
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);

}


.heading2
{
    align-content: center;
    justify-content: center;
    display: flex;
    margin-top: 5%;
}

.content3
{
    display:flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.profile_info
{
    color:white;
    margin-left: 5%;
    margin-top: 15px;
}

.intro
{
    color:white;
    width:32%;
    margin-left: 10%;
    line-height: 25px;
}

.profile
{
    margin-bottom: 5%;
}

.box6
{
    margin-left: 180px;
    margin-right: 180px;
    width:70%;
    margin-top: 10%; 
}

.content4
{
    display:flex;
    justify-content: space-between;
    margin-top:5%;
}

.img1
{
    width:295px;
}

.pic1
{
    box-shadow: 10px 40px 50px 0px #E5E9F666;
    background: #FFFFFF;


}
.box7
{
    
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
    display:flex;
    justify-content: center;
    margin-top:10%;
}

.content5
{
   display:flex; 
   width: 75%;
    margin-top: 3%;
}
.company
{
    width:250px;
}
.region
{
    width:250px;
}
.help
{
    width:250px;
}
