.container
{
    
    position:relative;
}

.box{
    margin-left: 180px;
    margin-right: 180px;
    width:70%;
    margin-top: 25px;
}

.header
{
   display:flex;
   justify-content: space-between;
}

.box1
{
    display:flex;
    justify-content: space-between;
    margin-top: 40px;
}

.info
{
    width:300px;
    margin-top: 50px;
}

